@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');

/* All project colors */
:root {
    --primaryColor: hsl(14, 90%, 53%);
    --primaryColorLight: hsl(14, 96%, 91%);
    --bgColor: hsl(0, 0%, 100%);
    --formColor: hsl(20, 42%, 87%);
    --whiteColor: hsl(100, 100%, 100%);
    --blackColor: hsl(0, 0%, 0%);
    --greyText: hsl(0, 0%, 51%);
    --inputColor: hsl(330, 12%, 97%);
    --cardColor: hsl(300, 3%,94%);
    /* Font and Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.6rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 3rem;
}

.Card {
    padding-top: 7rem;
    position: relative;
   
}

.videoContainer {
    position: relative;
    height: 300px; 
    overflow: hidden;


 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

.textOverlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.737);
    z-index: 2;
}

.textOverlay p {
    font-size: 6rem; 
    font-weight: bolder;
    margin-bottom: 1rem;
}

.textOverlay h3 {
    font-size: 2rem; 
}
.structure{
    .MapAPI
    {

       float: right;
       width: 550px;
       height: 350px;
       background-color: skyblue;

    }  

    .details{
    
        float: left;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        display: inline-flex;
       
        width: 976px;

        ul{
            list-style: none;
        }
        li{
            display: inline-block;
            width: 25%; 
            
           // margin-right: 20px;
            padding: 10px;
           
        }
        
        .skill{
            width: 160px;
            height: 160px;
            //background: cornflowerblue;
            position: relative;
            
        }
        .outer{
            height: 160px;
            width: 160px;
            border-radius: 50%;
            padding: 20px;
            box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                    -6px -6px 10px -1px rgba(255,255,255,0.7);
        }

        .inner{
            height: 120px;
            width: 120px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                        inset -4px -4px 6px -1px rgba(255,255,255,0.7)  ,
                        -0.5px -0.5px 0px rgba(255,255,255,1),
                        0.5px 0.5px 0px rgba(0,0,0,0.05),
                        0px 12px 10px -10px rgba(0,0,0,0.05);
        }

        #number{
            font-weight: 600;
            color: #555;
        }

        circle{
            fill: none;
            stroke: url(#GradientColor);
            stroke-width: 20px;
            stroke-dasharray: 472;
            stroke-dashoffset: 472;
            animation: anim 2s linear forwards;
        }

        svg{
            position: absolute;
            top: 0;
            left: 0;
        }

    
        @keyframes anim {
            100%{
             stroke-dashoffset: 165;
                
            }
            
        
     } 

        
    }

    
}